@charset "utf-8";
#firs{
	display:flex;
    justify-content:center;
	align-items:center; 
}
.index {
	margin: auto;
	text-align:center;
}
.register{
	margin: 5% auto;
	text-align:center;
}
.index form, .register form{
	width: 100%;
	background: blue;
	border-radius: 150px;
	padding: 7% 0%;
	display: inline-table;
}
.index input, .register input{
	padding: 0 5%;
	width: 70%;
	height: 50px;
	margin:2% 10%;
	border:none;
}
.index #firstinput, .register #firstinput{
	border-radius: 20px  20px 0 0;
	}
.index #lastinput, .register #lastinput{
	border-radius: 0 0 20px  20px;
	}
.index input[type=submit], .register input[type=submit]{
	width: 30%;
	border-radius:10px;
	}
.register input[type=checkbox]{
	width: 25px;
	height: 25px;
	margin: 2% 7% 2% 0%
	}
.register label{
	margin-right: 6%;
	color: #fff;
	
}
.index #buton1 {
	margin:2% 5%  2% 0;
}
.index #buton2{
	margin:2% 0  2% 5%;
}